.container{
    background-color: rgb(112, 189, 97);
    border: 5px solid white;
    border-radius: 15px;
    height: 500px;
    width: 520px;
    padding: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}